<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>XEW 2.0 | Bienvenue</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  {% load static %}

  <!-- Favicons -->
  <link href="{% static 'img/logo.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/icon_fonts/css/all_icons_min.css' %}" rel="stylesheet">

  
</head>

<body>
  <style type="text/css">
    <style>
*{margin:0px; padding:0px; font-family:Helvetica, Arial, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  font-size:16px;
}

/* Set a style for all buttons */
button {
    background-color: rgb(27, 177, 220);
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
  font-size:20px;
}
button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.avatar {
    width: 200px;
  height:200px;
    border-radius: 50%;
}

/* The Modal (background) */
.modal {
  display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 6% auto 15% auto;
    border: 1px solid #888;
    width: 30%; 
    
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
</style>
  <!--==========================
  Header
  ============================-->
  <header id="header">

    <!-- <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div> -->

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#intro" class="scrollto"><span>Rapid</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="{% static 'img/logo.png' %}" alt="" class="img-fluid"></a>
      </div>
      <nav>
        <ul id="top_access">
            <li><a style="cursor: pointer;" onclick="document.getElementById('modal-wrapper').style.display='block'"><i class="pe-7s-user"></i></a></li>
            <!-- <li><a href="register.html"><i class="pe-7s-add-user"></i></a></li> -->
          </ul>
        <div class="main-nav float-right d-none d-lg-block">
          <ul>
            <li class="active"><a href="#intro">Accueil</a></li>
            <li><a href="{% url 'explorer' %}">Explorer</a></li>
            <li><a href="#about">À propos</a></li>
            <li><a href="#services">Services</a></li>
            <!-- <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#team">Team</a></li>
            <li class="drop-down"><a href="">Drop Down</a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="drop-down"><a href="#">Drop Down 2</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
                <li><a href="#">Drop Down 5</a></li>
              </ul>
            </li> -->
            <li><a href="#footer">Contact Us</a></li>
          </ul>
        </div>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-12 intro-info order-md-first order-last">
          <h2>Bienvenue sur <br> <span>XEW 2.0</span></h2>
          <div>
            <a href="{% url 'explorer' %}" class="btn-get-started scrollto">EXPLORER</a>
          </div>
        </div>
  
        <!-- <div class="col-md-6 intro-img order-md-last order-first">
          <img src="{% static 'img/intro-img.svg' %}" alt="" class="img-fluid">
        </div> -->
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="{% static 'img/portfolio/apropos.png' %}" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>À propos</h2>
              <!-- <h3>Odio sed id eos et laboriosam consequatur eos earum soluta.</h3> -->
              <p>L’exploitation des Big Data nécessite de nouvelles approches mathématiques et informatiques adaptées, mais aussi, une réingénierie de l'aspect managérial afin de mieux maîtriser l’environnement informationnel d’un organisme public ou privé. Une démarche de management stratégique de l'information comme l’Intelligence Économique (IE) est alors requise. Cette dernière combine et englobe les techniques de Business Intelligence pour la maîtrise des données internes et les techniques de veille stratégique pour la surveillance et la maitrise des flux d’informations externes. Cependant, le Big Data, comme source d’information sans limite pour l’IE, a bouleversé les processus traditionnels, ce qui implique une réingénierie de toute la démarche d’IE. </p>
              
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn section-bg">
      <div class="container-fluid">
        
        <header class="section-header">
          <h3>PROCESSUS XEW 2.0</h3>
          <p>Le processus de management stratégique de l'information.</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <div class="why-us-img">
              <img src="{% static 'img/portfolio/processus.png' %}" alt="" class="img-fluid" style="width: 900px; height: 400px;">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="why-us-content">
             

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-desktop" style="color: #f058dc;"></i>
                <h4>SS-XEW</h4>
                <p>Le Scraper XEW fournit un éditeur web pour configurer des robots qui peuvent extraire des données en temps réels, ils scannent constamment les sources désignées et trouvent des mises à jours pour des données dans différents formats et langues.</p>
              </div>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-database" style="color: #ffb774;"></i>
                <h4>SBDA-XEW</h4>
                <p>Le Data wrangling est une librairie riche en algorithme de Big Data Mining pour l’analyse fine en batch, streaming, temps réel et incrémentale de l’environnement informationnel, tout en adaptant l’open Spark à l’architecture Big Data XEW, avec la possibilité d’intégrer des outils d’analyse open source comme RHadoop ou H2O.</p>
              </div>
              
              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-bar-chart" style="color: #589af1;"></i>
                <h4>SBDV-XEW</h4>
                <p>Des graphiques lisibles, compréhensibles et interactifs qui aident les utilisateurs de XEW 2.0 à mieux comprendre les données via une visualisation ergonomique et interactive.</p>
              </div>
              
            </div>

          </div>

        </div>

      </div>

      
    </section>


    <!--==========================
      Services Section
    ============================-->
    <section id="services" >
      <div class="container">

        <header class="section-header">
          <h3>Services</h3>
          <p>Le Big Data, une source d’information sans limite pour L’Intelligence Economique</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="fa fa-star" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">R&D</a></h4>
              <p class="description" style="text-align: justify;">Intelligence compétitive (IE), Big Data, Big Data Mining, Big Data visaulisation.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="fa fa-pencil-square-o" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">DESIGN</a></h4>
              <p class="description" style="text-align: justify;">Conception et proposition d'architectures Big Data agiles et modulables pour améliorer la compétitivité des entreprises.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">CONSULTING</a></h4>
              <p class="description" style="text-align: justify;">L'analyse de l'environnement informationnel Data Scientists Système d'Intelligence Economique Montage de cellules de veille stratégique.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #eafde7;"><i class="fa fa-globe" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">DEVELOPPEMENT</a></h4>
              <p class="description" style="text-align: justify;">Développement de solutions de collecte de données, d'analyse et de reporting dernière génération.</p>
            </div>
          </div>

          

        </div>

      </div>
    </section><!-- #services -->

    

   


    <!--==========================
      Pricing Section
    ============================-->
    <section id="pricing" class="wow fadeInUp section-bg">

      <div class="container">

        <header class="section-header">
          <h3>DEMOS</h3>
          <p>Explorer les demos pour analyser</p>
        </header>

        <div class="row flex-items-xs-middle flex-items-xs-center">
      
          <!-- Basic Plan  -->
          <div class="col-xs-12 col-lg-3">
            <div class="card">
              <div class="card-header">
                <!-- <h3><span class="currency">$</span>19<span class="period">/month</span></h3> -->
                <img src="{% static 'img/AV.png' %}" style="width: 150px;">
              </div>
              <div class="card-block">
                <strong style="background-color: red; color: white;" >Demo</strong>
                <br>
                <br>
                <h4 class="card-title"> 
                  Autonomous Vehicle
                </h4>
                
                <p class="card-body">Un véhicule autonome est un véhicule automobile apte à rouler, sur route ouverte, sans intervention d'un conducteur. Le concept vise à développer et produire un véhicule pouvant réellement circuler sur la voie publique dans le trafic sans intervention humaine en toutes situations, à terme.</p>
                <a href="{% url 'vehicules:show' %}" class="btn" style="margin-top: 45px;">Analyser</a>
              </div>
            </div>
          </div>
      
          <!-- Regular Plan  -->
          <div class="col-xs-12 col-lg-3">
            <div class="card">
              <div class="card-header">
                <!-- <h3><span class="currency">$</span>19<span class="period">/month</span></h3> -->
                <img src="{% static 'img/SC.png' %}" style="width: 150px;">
              </div>
              <div class="card-block">
                <strong style="background-color: red; color: white;" >Demo</strong>
                <br>
                <br>
                <h4 class="card-title"> 
                  Smart Cities
                </h4>
                
                <p class="card-body">L'expression « ville intelligente », traduction de l'anglais Smart City, désigne une ville utilisant les technologies de l'information et de la communication pour « améliorer » la qualité des services urbains ou encore réduire ses coûts.</p>
                <a href="{% url 'smarts:show' %}" class="btn" style="margin-top: 70px;">Analyser</a>
              </div>
            </div>
          </div>

          <!-- Premium Plan  -->
          <div class="col-xs-12 col-lg-3">
            <div class="card">
              <div class="card-header">
                <!-- <h3><span class="currency">$</span>19<span class="period">/month</span></h3> -->
                <img src="{% static 'img/BD.png' %}" style="width: 150px;">
              </div>
              <div class="card-block">
                <strong style="background-color: red; color: white;" >Demo</strong>
                <br>
                <br>
                <h4 class="card-title"> 
                  Big Data
                </h4>

                
                <p class="card-body">Le big data, littéralement « grosses données », ou mégadonnées, parfois appelées données massives, désigne des ensembles de données devenus si volumineux qu'ils dépassent l'intuition et les capacités humaines d'analyse et même celles des outils informatiques classiques de gestion de base de données ou de l'information.</p>
                <a href="{% url 'bigs:show' %}" class="btn">Analyser</a>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-lg-3">
            <div class="card">
              <div class="card-header">
                <!-- <h3><span class="currency">$</span>19<span class="period">/month</span></h3> -->
                <img src="{% static 'img/RE.jpg' %}" style="width: 150px;">
              </div>
              <div class="card-block">
                <strong style="background-color: red; color: white;" >Demo</strong>
                <br>
                <br>
                <h4 class="card-title"> 
                  Renewable Energy
                </h4>
               
                <p class="card-body">Les énergies renouvelables sont des sources d'énergie dont le renouvellement naturel est assez rapide pour qu'elles puissent être considérées comme inépuisables à l'échelle du temps humain.</p>
                <a href="{% url 'energies:show' %}" class="btn" style="margin-top: 120px;">Analyser</a>
              </div>
            </div>
          </div>

          <!--  COVID19:  -->
          <div class="col-xs-12 col-lg-3 offset-md-4 mt-4">
            <div class="card">
              <div class="card-header">
                <!-- <h3><span class="currency">$</span>19<span class="period">/month</span></h3> -->
                <img src="{% static 'img/covid19.jpg' %}" style="width: 150px;" class="rounded-circle">
              </div>
              <div class="card-block">
                <strong style="background-color: red; color: white;" >Demo</strong>
                <br>
                <br>
                <h4 class="card-title">
                  COVID19
                </h4>
                <p class="card-body">COVID-19 stands for Coronavirus Disease 2019. Coronavirus Disease 2019. The virus was first reported to the World Health Organisation’s (WHO) China office on December 31, 2019, hence it was allocated the '19'.</p>
                <a href="{% url 'covid:show' %}" class="btn" style="margin-top: 70px;">Analyser</a>
              </div>
            </div>
          </div>
          <!-- COVID19: -->
      
        </div>
      </div>

    </section><!-- #pricing -->

    <!--==========================
      Frequently Asked Questions Section
    ============================-->
    <!-- #faq -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container margin_60_35">
      <div class="row">
        <div class="col-lg-3 col-md-12">
          <p>
            <a class="navbar-brand" href="{% url 'home' %}">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="{% static 'img/logo.png' %}" style="width: 150px;"  class="dark-logo" />
                            <!-- Light Logo icon -->
                            <!-- <img src="img/logo-light-icon.png"  class="light-logo" /> -->
                            
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <!-- <span class="logo-text">
                             
                             <h3 style="float: right;">XEW 2.0</h3>
                        </span> -->
                    </a>
          </p>
        </div>
        <div class="col-lg-3 col-md-4">
          <h5>About</h5>
          <ul class="links" style="list-style-type:none;">
            <li><a href="#0">About us</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="#0">FAQ</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4">
          <h5>DEMOS</h5>
          <ul class="links" style="list-style-type:none;">
            <li><a href="#0">COVID19</a></li>
            <li><a href="#0">Autonomous Vehicle</a></li>
            <li><a href="#0">Smart Cities</a></li>
            <li><a href="#0">Big Data</a></li>
            <li><a href="#0">Renewable Energy</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4">
          <h5>Contact with Us</h5>
          <ul class="contacts" style="list-style-type:none;">
            <li><a href="tel://61280932400"><i class="icon_mobile"></i> 00212652957049</a></li>
            <li><a href="mailto:contact@xplorew.org"><i class="icon_mail_alt"></i> contact@xplorew.org</a></li>
          </ul>
          <div class="follow_us">
            <h5>Follow us</h5>
            <ul style="list-style-type:none;">
              <li><a href="#0"><i class="social_facebook"></i></a></li>
              <li><a href="#0"><i class="social_twitter"></i></a></li>
              <li><a href="#0"><i class="social_linkedin"></i></a></li>
              <li><a href="#0"><i class="social_instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--/row-->
      <hr>
      <div class="row">
        <div class="col-md-8">
          <ul id="additional_links">
            <!-- <li><a href="#0">Terms and conditions</a></li>
            <li><a href="#0">Privacy</a></li> -->
          </ul>
        </div>
        <div class="col-md-4">
          <div id="copy">© 2019 XEW 2.0</div>
        </div>
      </div>
    </div>
  </footer>
  <!--/footer--><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <div id="modal-wrapper" class="modal">
  
  <form class="modal-content animate" action="/action_page.php">
        
    <div class="imgcontainer">
      <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close">&times;</span>
      <img src="{% static 'img/login.png' %}" alt="Avatar" class="avatar">
      <h2 style="text-align:center">Se connecter à XEW 2.0</h2>
    </div>

    <div class="container">
      <input type="text" placeholder="Enter Username" name="uname">
      <input type="password" placeholder="Enter Password" name="psw">        
      <button type="submit">Se connecter</button>
      <!-- <input type="checkbox" style="margin:26px 30px;"> Remember me  -->
      <p class="text-center link_bright">Vous n'avez pas de compte? <a href="{% url 'register' %}"><strong>Créer un compte</strong></a></p>
      <!-- <a href="#" style="text-decoration:none; float:right; margin-right:34px; margin-top:26px;">Forgot Password ?</a> -->
    </div>
    
  </form>
  
</div>

<script>
// If user clicks anywhere outside of the modal, Modal will close

var modal = document.getElementById('modal-wrapper');
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/mobile-nav/mobile-nav.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
