<!--&lt;!&ndash;{% extends 'users/base.html' %}&ndash;&gt;-->

<!--{% block content %}-->
<!--<html lang="en">-->
    <!--<head>-->
        <!--<meta charset="UTF-8">-->

        <!--<title>Results</title>-->
    <!--</head>-->
    <!--<body>-->
        <!--</br>-->
        <!--<h1>{{search_string}}</h1>-->

        <!--<table class="table table-striped">-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th scope="col">#</th>-->
      <!--<th scope="col">Id</th>-->
      <!--<th scope="col">Title</th>-->
      <!--<th scope="col">Code</th>-->
      <!--<th scope="col">Year</th>-->
      <!--<th scope="col">Inventors</th>-->
      <!--<th scope="col">Abstract</th>-->
    <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--{% for poll in polls%}-->
    <!--<tr>-->
      <!--<th scope="row">{{ forloop.counter }}</th>-->
      <!--<td>{{poll.id}}</td>-->
      <!--<td>{{poll.title}}</td>-->
      <!--<td>{{poll.code}}</td>-->
      <!--<td>{{poll.year}}</td>-->
      <!--<td>{{poll.inventors}}</td>-->
      <!--<td>{{poll.abstract}}</td>-->
    <!--</tr>-->
  <!--{% endfor %}-->
  <!--</tbody>-->
<!--</table>-->
    <!--</body>-->
<!--</html>-->
<!--{% endblock content %}-->